* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.photo-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.photo-container img {
    height: 100%;
    width: auto;
}